:root {
  --color-border-big-card: rgba(128, 128, 128, 0.41);

  --font-color-dark: #5b5b5b;
  --font-color-light: rgb(240, 238, 238);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

/* colors */

.bg-primary {
  background-color: #eeeeee;
}

.fc-dark {
  color: var(--font-color-dark)
}

.fc-light {
  color: var(--font-color-light)
}

/* app */

.app {
  display: flex;
  min-height: 100vh;
}

.app__sideNav {
  width: 30%;
}

.app__content {
  display: flex;
  flex-direction: column;
  width: 70%;
}

@media (min-width: 720px) {
  .app__sideNav {
    width: 17%;
  }
  .app__content {
    width: 83%;
  }

}

/* Top Navigation */

.topNavigation {
  position: relative;
  padding-right: 1rem;
  background-color: white;
  box-shadow: 0px 3px 7px #0000001c;
}

.topNavBar__items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.2rem 0;
  gap: 2rem;

}

.topNavBar__items > li > div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  padding-left: 1rem;
  border-left: 1px solid;
}

.topNavBar__items > li > div > img {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  border: 1px solid var(--font-color-dark);
  
}


/* Side Navigation */

.sideNavigation {
  width: 100%;
  height: 100%;
  background: #201f24;
}

.sideNavigation__logo {
  height: 87px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom_line {
  position: relative;
}

.bottom_line::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.339);
  bottom: 0;
}

.bottom_line::after {
  content: '';
  position: absolute;
  height: 0px;
  width: 70%;
  background: white;
  bottom: 0;
}

.sideNavigation__data {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem;
}

.sideNavigation__data > h3 {
  font-size: .8rem;
  font-weight: 700;
}

.sideNavigation__data-actions {
  padding-bottom: 0.5rem;
}

.sideNavigation__data > ul > li > div {
  justify-content: space-around;
  align-items: first baseline;
  font-size: 0.8rem;
  padding: .7rem 0;
}

.sideNavigation__data > ul > li:hover {
  cursor: pointer;
  opacity: 1 !important;
}

.wrapper-top,
.wrapper-bottom {
    flex-direction: column;
}

@media (min-width: 720px) {
    .wrapper-top,
    .wrapper-bottom {
        flex-direction: row;
    }

}

/* Main */

.app-container {
  width: 95%;
  max-width: 1100px;
  margin-inline: auto;
}

.app-container > h3 {
color: var(--font-color-dark);
font-weight: 400;
font-size: 2rem;
}

.card {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  box-shadow: 1px 1px 6px #0000001c;
}

.card-small {
  border-left: 4px solid var(--color-card);
}

.card-small > div > h3 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-card)
}

.card-small > div > p {
  font-size: 1.8rem;
  font-weight: 700;
}

.card-small > div > i {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.101);
}

.card-big {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-big > * {
  border: 1px solid var(--color-border-big-card);
}

.card-big__title {
    background: #dfdfdf;
    width: 100%;
    border-radius: 8px 8px 0 0;
    border-bottom: none;
}

.card-big__content {
  align-items: center;
  border-radius: 0 0 8px 8px;
  gap: 1rem;
}

.card-big__content > div > img{
  border-radius: 8px;
}

.card-big__content > div > h4 {
  padding-bottom: 0.7rem;
}

/* Footer */

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  box-shadow: 0px -3px 7px #0000001c;
  font-size: .7rem;
  color: #5b5b5ba5;
}

/* Utility Clases */

.grid {
  display: grid;
  grid-template-columns: 1fr; 
  padding: 0;
  gap: 1rem;
}

@media (min-width: 800px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

.grid > li > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 3rem;
  background: rgba(90, 92, 105);
  font-size: .8rem;
  font-weight: 700;
  padding: 1rem;
  color: var(--font-color-light);
  text-transform: capitalize;
  border-radius: 8px;
  box-shadow: 2px 3px 4px #0000004d;
}


.flex {
    display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-g-2 {
  flex-grow: 2;
}

.opacity-6 { 
  opacity: 0.6;
}

.p-000 {
  padding: 0;
} 

.p-100 {
  padding: 1rem;
}

.gap-100 {
    gap: 1rem;
}

.gap-200 {
  gap: 2rem;
}

.gap-300 {
  gap: 3rem;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.space-between {
    justify-content: space-between;
}

.content {
  padding: 2rem 0;
}